$black: #0a0a0a;
$white: #fff;
$gray: #858585;
$light-gray: #f3f3f3;
$gray_table: #bdbdbd;
$blue_bg: #1189c9;
$blue_btn: #12a6f4;
$red: #da2144;
$red_table: #eb4b4b;
$green_table: #7acc48;
$yellow_table: #ffe28b;

$shadow: rgba(51,122,183,0.8);