extends components/_layout

block title
	title Проверка

block metaInfo
	-pageMeta = {"keywords": "", "description": ""}
	+pageMetaMxn

block content
	.container
		.row
			.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12
				form.text-center
					p Проверяем пропуск. Обычно проверка занимает 30 секунд...
					.form-group.col-md-8.col-sm-8.col-xs-12
						input(type="text" placeholder="Введите гос. номер автомобиля...").form-control
					button(type="submit" disabled="disabled").btn.btn-lg.btn-primary.col-md-4.col-sm-4.col-xs-12 Проверка
				.spinner.text-center.hidden-xs
					i.fa.fa-spinner.fa-pulse.fa-5x.fa-fw
				h3.text-center Хотите проверять в 2 раза быстрее?
					br 
					| Зарегистрируйтесь!
	.wide.blue
		.container
			.row.vNeck
				include components/_benefits
			.row
				include components/_signupform
			.row
				p.col-md-12.col-sm-12.text-center Я уже зарегистрирован - 
						a(gref="#") Войти
	.container
		.row.text-center
			p Результаты последней проверки от 10.09.2016 14:34
			table.table.table-bordered.hidden-xs
				thead
					tr
						td Номер
						td Тип
						td Дата начала
						td Дата окончания
						td Статус
				tbody.text-left.blackColor
					tr.success

					tr.active
						td Номер
						td ТТК
						td 24.11.2009
						td 15.07.2013
						td Осталось 55 дней
					tr.warning
						td Номер
						td ТТК
						td 24.11.2009
						td 15.07.2013
						td Закончен
					tr.danger
						td Номер
						td ТТК
						td 24.11.2009
						td 15.07.2013
						td Анулирован 
			.tile.visible-xs.col-sx-10
				p td A986MO88
				p № BB 987503846
				p МКАД
				p c 01.10.2015 по 31.09.2016
				p Осталось 55 дней
			a(href="#").btn.btn-transp.visible-xs.col-sx-10 Развернуть все номера
			a(href="#").btn.btn-lg.btn-primary Отслеживать пропуск