extends components/_layout

block title
	title Лимит исчерпан

block metaInfo
	-pageMeta = {"keywords": "", "description": ""}
	+pageMetaMxn

block content
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				form
					.row.text-center
						.col-md-4.col-md-offset-3.col-sm-6.col-sm-offset-1.col-xs-8.col-xs-offset-2
							input(type="text" placeholder="Введите гос. номер автомобиля..." disabled="disabled").form-control
						button(type="submit" disabled="disabled").btn.btn-lg.btn-primary.col-md-2.col-sm-4.col-xs-8 Проверить пропуск
				h3.text-center 
					| Вы сделали сегодня более 10 проверок.
					br 
					a(href="").blueColor Авторизуйтесь
					|  или  
					a(href="").blueColor Зарегистрируйтесь
					|, чтобы продолжить работу с сервисом
	.wide.blue
		.container
			.row.vNeck
				include components/_benefits
			.row
				include components/_signupform
			.row
				p.col-md-12.col-sm-12.text-center Я уже зарегистрирован - 
						a(gref="#") Войти