div(style="width:360px;height:380px;position:fixed;left:50%;top:50%;margin:-210px 0 0 -200px;border:2px dashed #2b669a;padding:20px;")
	h1(style="position:absolute;top:-20px;right:10px;font-size:40px;color:#2b669a;") проверить пропуск
	h3
		a(style="font-size:20px; line-height: 30px;" href="main.html") Главная
	h3
		a(style="font-size:20px; line-height: 30px;" href="profile.html") Личный кабинет
	h3
		a(style="font-size:20px; line-height: 30px;" href="main.html") Ничего не найдено
	h3
		a(style="font-size:20px; line-height: 30px;" href="main.html") Результаты поиска
