div(style="width:360px;height:380px;position:fixed;left:50%;top:50%;margin:-210px 0 0 -200px;border:2px dashed #2b669a;padding:20px;")
	h1(style="margin:0;padding: 10px 8px;position:absolute;top:-40px;left:10px;font-size:40px;color:#2b669a;background:#fff;") проверить пропуск
	h3
		a(style="font-size:20px; line-height: 30px;" href="main.html") Главная
	h3
		a(style="font-size:20px; line-height: 30px;" href="check.html") Проверка
	h3
		a(style="font-size:20px; line-height: 30px;" href="list.html") Личный кабинет - номер
	h3
		a(style="font-size:20px; line-height: 30px;" href="add.html") Личный кабинет - номер - добавление
	h3
		a(style="font-size:20px; line-height: 30px;" href="main.html") Результаты поиска
