- var crumbs = false

extends components/_layout

block title
	title Главная

block metaInfo
	-pageMeta = {"keywords": "", "description": ""}
	+pageMetaMxn

block content
	.container
		.row
			.col-md-8.col-sm-10.col-xs-12
				h1 Проверка пропуска на МКАД, СК, ТТК по гос. номеру машины 
				p Сервис позволяет проверить пропуск на МКАД, ТТК, СК , по гос номеру машины, теперь вам не нужно беспокоиться за ваши пропуска, просто введите номер автомобиля и мы будем постоянно следить за действием вашего пропуска
				- var form_enabled = true
				include components/_mainsearch