extends components/_layout

block title
	title Ничего не найдено

block metaInfo
	-pageMeta = {"keywords": "", "description": ""}
	+pageMetaMxn

block content
	.container
		.row
			.col-md-12.col-sm-12.col-xs-12
				form
					.row.text-center
						.col-md-4.col-md-offset-3.col-sm-6.col-sm-offset-1.col-xs-8.col-xs-offset-2
							input(type="text" placeholder="Введите гос. номер автомобиля...").form-control
						button(type="submit").btn.btn-lg.btn-primary.col-md-2.col-sm-4.col-xs-8 Проверить пропуск
					.row.text-center.spinner
						i.fa.fa-times-circle.fa-5x.redColor
				h3.text-center Пропуск в базе департамента не найден
				.small.text-center 
					| База не доступна. Проверьте на 
					a(href="#") официальном сайте