extends components/_layout

block title
	title Ничего не найдено

block metaInfo
	-pageMeta = {"keywords": "", "description": ""}
	+pageMetaMxn

block content
	- var crumbs = true
	.container.head
		.row
			include components/_crumbs
	.container.main
		.row
			.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
				- var form_enabled = true
				- var form_notFound = true
				- var form_buttons = true
				include components/_mainsearch