extends components/_layout

block title
	title Ничего не найдено

block metaInfo
	-pageMeta = {"keywords": "", "description": ""}
	+pageMetaMxn

block content
	.container
		.row
			.col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
				form.text-center
					.form-group.col-md-8.col-sm-8.col-xs-12
						input(type="text" placeholder="Введите гос. номер автомобиля...").form-control
					button(type="submit").btn.btn-lg.btn-primary.col-md-4.col-sm-4.col-xs-12 Проверить пропуск
				.row.text-center.spinner
					i.fa.fa-times-circle.fa-5x.redColor
				h3.text-center Пропуск в базе департамента не найден
				.small.text-center 
					| База не доступна. Проверьте на 
					a(href="#") официальном сайте