.benefits.text-center
	h4 Преимущества для зарегистрированных пользователей
	figure.col-md-3.col-sm-3.col-xs-6
		figcaption Проверки в 2 раза быстрее
		i.fa.fa-clock-o.fa-4x
	figure.col-md-3.col-sm-3.col-xs-6
		figcaption Уведомления о выходе пропусков
		i.fa.fa-bell.fa-4x
	figure.col-md-3.col-sm-3.col-xs-6
		figcaption Уведомления об окончании пропусков
		i.fa.fa-envelope-o.fa-4x
	figure.col-md-3.col-sm-3.col-xs-6
		figcaption Уведомления об окончании пропусков
		i.fa.fa-frown-o.fa-4x