header
	.container
		.row
			.col-md-4.col-sm-6.col-xs-12
				a.logo(href="/")
					img(src="../images/logo.png")
					.small круглосуточный контроль за действием пропуска
			.col-md-4.col-sm-6.col-xs-12.pull-right
				ul.nav.nav-pills
					li(role="presentation"): a(href="/")
						i(aria-hidden="true").fa.fa-home
						| Главная
					li(role="presentation").active: a(href="#")
						i(aria-hidden="true").fa.fa-user
						| Кабинет
					li(role="presentation"): a(href="#")
						i(aria-hidden="true").fa.fa-info
						| О сервисе
		.row
			.col-md-4.col-sm-6.col-xs-12.heading
				h1 Личный кабинет
				.row
					ol.breadcrumb
						li: a(href="#") Личный кабинет
						li: a(href="#") Номер
						li.active Добавление 