header.header
	.container
		.row
			.col-md-4.col-sm-6.col-xs-9.logoCont
				a.logo(href="/")
					img(src="../images/logo.png")
					.small круглосуточный контроль за действием пропуска
			.visible-xs.col-xs-3
				i(aria-hidden="true").fa.fa-bars.fa-2x#nav-trigger
			#menu.pull-right.text-right.col-md-5.col-sm-6
				a(href="#").btn.btn-transp.visible-xs Зарегистрироваться
				a(href="#").btn.btn-transp.visible-xs Войти
				ul.nav.nav-pills
					li(role="presentation"): a(href="/")
						i(aria-hidden="true").fa.fa-home
						| Главная
					li(role="presentation").active: a(href="#")
						i(aria-hidden="true").fa.fa-user
						| Кабинет
					li(role="presentation"): a(href="#").openSignUp
						i(aria-hidden="true").fa.fa-info
						| О сервисе
		.row
			.col-md-4.col-sm-6.col-xs-12.heading
				h1 Личный кабинет
				.row
					ol.breadcrumb
						li: a(href="#") Личный кабинет
						li: a(href="#") Номер
						li.active Добавление
	.signUp.hidden-xs
		.container.text-center
			.row
				.col-md-4.col-sm-6.col-xs-9.logoCont.text-left
					a.logo(href="/")
						img(src="../images/logo.png")
						.small круглосуточный контроль за действием пропуска
				.col-md-3.col-sm-4.hidden-xs.pull-right.text-right.popClose
					| Вернуться на главную  
					i(aria-hidden="true").fa.fa-close.fa-2x
			.row
				include _signupform
			.row
				.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
					p Использование сервиса, а также email и sms абсолютно бесплатны. Для защиты от спама требуется подтверждение email и номера мобильного телефона
					p Я уже зарегистрирован - 
						a(gref="#") Войти
			.row
				include _benefits