form.main-search
	.row
		if form_checking
			.col-md-12.col-sm-12.col-xs-12.text-center
				p Проверяем пропуск. Обычно проверка занимает 30 секунд...
			.form-group.col-md-7.col-sm-7.col-xs-12
				input(type="text" placeholder="А111АА77").form-control
				.small Введите гос. номер автомобиля...
			.col-md-5.col-sm-5.col-xs-12
				button(type="submit" style="padding: 5px;").btn.btn-lg.btn-primary.btn-block
					i.fa.fa-spinner.fa-pulse.fa-2x
			.col-md-12.col-sm-12.col-xs-12
				.text-center.spinner
					i.fa.fa-spinner.fa-pulse.fa-5x

		if form_enabled
			.form-group.col-md-7.col-sm-7.col-xs-12
				input(type="text" placeholder="А111АА77").form-control
				.small Введите гос. номер автомобиля...
			.col-md-5.col-sm-5.col-xs-12
				button(type="submit").btn.btn-lg.btn-primary.btn-block Проверить пропуск

		if form_exhausted
			.form-group.col-md-7.col-sm-7.col-xs-12
				input(type="text" placeholder="А111АА77" disabled="disabled").form-control
				.small Введите гос. номер автомобиля...
			.col-md-5.col-sm-5.col-xs-12
				button(type="submit" disabled="disabled").btn.btn-lg.btn-primary.btn-block Проверить пропуск
			.col-md-12.col-sm-12.col-xs-12
				h2.text-center 
					| Вы сделали сегодня более 10 проверок.
					br 
					a(href="").blueColor Авторизуйтесь
					|  или  
					a(href="").blueColor Зарегистрируйтесь
					|, чтобы продолжить работу с сервисом

		if form_register
			.col-md-12.col-sm-12.col-xs-12
				h2.text-center Хотите проверять в 2 раза быстрее?
					br 
					| Зарегистрируйтесь!

		if form_notFound
			.col-md-12.col-sm-12.col-xs-12
				.text-center.spinner
					i.fa.fa-times-circle.fa-5x.redColor
			.col-md-12.col-sm-12.col-xs-12
				h3.text-center Пропуск в базе департамента не найден
				p.small.text-center 
					| База не доступна. Проверьте на 
					a(href="#") официальном сайте

		if form_buttons
			.col-md-6.col-sm-6.col-xs-12.btns
				button(type="button").btn.btn-lg.btn-primary.btn-block Отслеживать пропуск
			.col-md-6.col-sm-6.col-xs-12.btns
				button(type="button").btn.btn-lg.btn-primary.btn-block Заказать пропуск