.tile.visible-xs.col-sx-12.text-center
	.name: b A986MO88
	.number № BB 987503846
	.type: b МКАД
	.dates c 01.10.2015 по 31.09.2016
	.remain: b Осталось 55 дней
.form-group.visible-xs
	a(href="#").btn.btn-primary.btn-lg.form-control Развернуть все номера