@charset "utf-8";
@import 'helpers/_variables.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic';

/********* базовый набор *********/

* { box-sizing: border-box; }

html { height: 100%; }
body { width: 100%; min-height: 100%; position: relative; padding-bottom: 140px; overflow-x: hidden; overflow-y: auto; font-family: 'Open Sans', sans-serif; color: $white; font-size: 14px; text-shadow: none; background: $black url('../images/bg.jpg') no-repeat 63% top fixed; background-size: cover;
    &.lock { overflow-y: hidden; }
}

@import 'helpers/_custom.css';

ul li { list-style: none; }
a { text-decoration: underline; color: $white;
    &:hover { text-decoration: none; color: $white; }
	&.btn { text-decoration: none; color: $white; height: 60px; line-height: 40px; padding-top: 8px; padding-bottom: 8px; }
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="submit"],
button, select,
.form-control { outline: none; box-shadow: none; transition: none; height: 60px; font-size: 18px; border-radius: 6px; }
input[type="text"] { color: $gray; }
input[type="search"] { color: $gray; }
input[type="submit"] { opacity: 0.9; }
input[type="submit"]:hover { opacity: 1; }
input[type="submit"]:active { opacity: 0.8; }
input:focus, 
select:focus, 
textarea:focus { outline: none; }

form { padding-bottom: 20px; overflow: hidden; }

.container { padding-top: 20px; padding-bottom: 20px; }

.btn-transp { border: 1px solid $white; opacity: 0.9; font-size: 18px; border-radius: 6px; background: transparent;
    &:hover, &:active { color: $white; opacity: 1; }
    &:focus { color: $white; opacity: 1; outline: 0; }
}
.btns button { margin-top: 15px; }
.divider { display: inline-block; padding: 0 4px; }
.spinner { margin: 30px auto; }
.blue { background: $blue_bg; }
.blueColor { color: $blue_btn; }
.redColor { color: $red; }
.blackColor { color: $black; }
.wide { width: 100%; }
.benefits { padding-bottom: 30px; overflow: hidden;
    figure { position: relative; text-align: center;
        & + figure:after { content: ""; position: absolute; display: block; background: $white; height: 60%; left: 0; top: 20%; width: 1px; }
        figcaption { min-height: 40px; margin-bottom: 10px; }
        i { margin-bottom: 20px; }
    }
}

.main-search {
    input { color: $black; font-size: 28px;
        &:disabled { color: $gray; }
    }
}

.signUpForm { margin-bottom: 20px;
    .codeInput { text-align: left; vertical-align: top;
        span { display: inline-block; width: 69%; padding-right: 4%; float: left; }
        input { display: inline-block; width: 30%; }
    }
}

header {
    &.active:before { content: ""; background: $shadow; width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 3; }
}
.header { padding: 20px 0;
    .logo { 
        img { width: 284px; }
        .small { margin: -12px 0 0 69px; width: 215px; }
    }
    #nav-trigger { z-index: 100; }
    #menu { text-align: right; float: right; }
    .nav { padding-top: 9px; float: right;
        li { margin-left: 4px;
            a { text-decoration: none; height: 50px; line-height: 30px;
                i { margin-right: 5px; color: $blue_btn; font-size: 18px; }
            }
            &:hover a { background-color: $blue_btn;
                i { color: $white; }
            }
            &.active a { background-color: $blue_btn;
                i { color: $white; }
            }
        }
    }
}

.heading { margin-top: 30px; }
.breadcrumb { background: transparent; }

.signUp { display: none; background: $shadow; z-index: 10; width: 100%; height: 100%; position: fixed; top: 0; left: 0; padding: 20px 0; overflow-x: hidden; overflow-y: auto;
    &.active { display: block; }
    .popClose { margin-top: 10px; vertical-align: middle; }
}

.table {
    & > thead > tr > td { vertical-align: middle; padding: 4px 6px; }
    & > tbody > tr > td { vertical-align: middle; padding: 4px 6px; }
    td { height: 44px; }
}

.numberTable { border-top: 1px solid $white; margin: 20px 0;
    table { margin-bottom: 0; }
    .paginator { color: $gray; line-height: 49px; border-bottom: 1px solid $white; overflow: hidden; }
    .summary { padding-top: 15px; padding-bottom: 15px; overflow: hidden;
        .left { width: 200px; display: inline-block; }
    }
}

footer { position: absolute; left: 0; bottom: 0; right: 0; height: 140px; padding-top: 50px;
    .copy { margin-top: 10px; padding-top: 10px }
    .socials { text-align: right; float: right; padding-top: 10px;
        .platform { display: inline-block; margin: 0 2px;
            a { display: inline-block; width: 142px; border-radius: 6px; border: 1px solid $white; overflow: hidden;
                img { width: 142px; display: inline-block; }
            }
        }
    }
    .banner { background: $light-gray; position: relative; text-align: center; display: block;
        &:before, &:after { content: ''; display: block; position: absolute; top: 0; width: 50%; height: 100%; background: $light-gray; }
        &:before { right: 100%; }
        &:after { left: 100%; }
    }
}


@media (max-width: 767px) {
    body { padding-bottom: 240px; }

    h1 { font-size: 30px; margin-top: 0; }
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="submit"],
    button, select,
    .form-control { height: 50px; font-size: 16px; }
    btn.btn { font-size: 16px; }
    .btn-transp { font-size: 16px; }
    a.btn { height: 50px; line-height: 30px; }

    header { min-height: 190px;
        &.active {
            #menu { left: 22%; padding: 20px 22% 20px 0; transition: left 0.2s; }
        }
    }
    .header { padding: 0;
        .logo { height: 50px; display: block; margin-bottom: 20px;
            img { width: 210px; }
            .small { margin: -12px 0 0 51px; width: 159px; }
        }
        #nav-trigger { padding: 1px 3px; }
        #menu { text-align: initial; background: $blue_bg; width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 100%; z-index: 5; transition: left 0.2s; float: none;
            .btn { margin: 0 auto 15px; max-width: 220px; }
            .nav { padding-left: 20px; float: none;
                li { 
                    a { width: 220px; margin: auto;
                        i { color: $white; } 
                    }
                }
            }
        }
        .heading { margin-top: 10px; }
        .breadcrumb { margin-bottom: 0; }
    }
    .benefits figure + figure:after { display: none; }
    .tile { background: $yellow_table; border-radius: 6px; color: $black; padding: 15px; margin-top: 15px; margin-bottom: 15px;
        div { margin: 0; }
        .name, .type { font-size: 18px; }
    }
    .col-xs-12 > form > .form-group { padding: 0; }
    .spinner { margin: 20px auto; }
    .signUpForm {
        .codeInput { 
            span { width: 74%; padding-right: 4%; float: left; }
            input { width: 25%; }
        }
    }
    footer { height: 240px; padding-top: 0;
        .copy { overflow: hidden; }
        .socials { text-align: center; float: none; overflow: hidden;
            .platform { margin: 0 4px;
                a { width: 64px;
                    img { width: 200px; }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    footer .banner img { width: 768px; }
}

@media (min-width: 992px) and (max-width: 1199px) {
    footer .banner img { width: 992px; }
}

@media (min-width: 1200px) {}