@charset "utf-8";
@import 'helpers/_variables.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=cyrillic';

/********* базовый набор *********/

* { box-sizing: border-box; }

html { height: 100%; }
body { width: 100%; min-height: 100%; position: relative; padding-bottom: 140px; overflow-x: hidden; overflow-y: scroll; font-family: 'Open Sans', sans-serif; color: $white; font-size: 14px; text-shadow: none; background: $black url('../images/bg.jpg') no-repeat center top fixed; background-size: cover;
}

ul li { list-style: none; }
a { text-decoration: underline; color: $white;
    &:hover { text-decoration: none; color: $white; }
	&.btn { text-decoration: none; color: $white; }
}

input[type="text"],
input[type="search"],
input[type="email"],
input[type="submit"],
button, select,
.form-control { outline: none; box-shadow: none; transition: none; height: 60px; font-size: 18px; border-radius: 6px; }
input[type="text"] { color: $gray; }
input[type="search"] { color: $gray; }
input[type="submit"] { opacity: 0.9; }
input[type="submit"]:hover { opacity: 1; }
input[type="submit"]:active { opacity: 0.8; }
input:focus, 
select:focus, 
textarea:focus { outline: none; }

form { padding-bottom: 20px; }

.container { padding-bottom: 10px; }
.btn-transp { border: 1px solid $white; opacity: 0.9; font-size: 18px; border-radius: 6px;
    &:hover, &:active { color: $white; opacity: 1; }
    &:focus { color: $white; opacity: 1; outline: 0; }
}
.divider { display: inline-block; padding: 0 4px; }
.spinner { margin: 30px auto; }
.blue { background: $blue; }
.blueColor { color: $blue; }
.wide { width: 100%; padding: 20px 0; }
.benefits { padding-bottom: 30px; overflow: hidden;
    figure { position: relative; text-align: center;
        &:after { content: ""; position: absolute; display: block; background: $white; height: 60%; margin-top: 20%; left: 0; top: 0; width: 1px; }
        &:first-of-type:after { display: none; }
        figcaption { height: 40px; margin-bottom: 10px; }
    }
}

.signUpForm { margin-bottom: 20px;
    .codeInput { text-align: left; vertical-align: top;
        span { display: inline-block; width: 69%; padding-right: 4%; float: left; }
        input { display: inline-block; width: 30%; }
    }
}

header { 
    &.active:before { content: ""; background: $shadow; width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 3; }
}
.header { padding: 20px 0;
    .logo { 
        img { width: 284px; }
        .small { margin: -12px 0 0 69px; width: 215px; }
    }
    #nav-trigger { z-index: 100; }
    #menu { text-align: right; }
    .nav { padding-top: 4px;
        li {
            a { text-decoration: none; height: 60px; line-height: 40px;
                i { margin-right: 5px; color: $blue; font-size: 18px; }
            }
            &:hover a { background-color: $blue;
                i { color: $white; }
            }
            &.active a i { color: $white; }
        }
    }
    .heading { margin-top: 30px; }
	.breadcrumb { background: transparent; }
}

.signUp { display: none; background: $shadow; z-index: 10; width: 100%; height: 100%; position: absolute; top: 0; left: 0; padding: 20px 0; 
    &.active { display: block; }
    .popClose { margin-top: 10px; vertical-align: middle; }
}

.table {
    & > thead > tr > td { vertical-align: middle; }
    & > tbody > tr > td { vertical-align: middle; }
    td {  height: 60px; }
}

.numberTable { border-top: 1px solid $white; margin: 20px 0;
    .paginator { color: $gray; line-height: 60px; border-bottom: 1px solid $white; overflow: hidden; }
    .summary { padding-top: 15px; padding-bottom: 15px; overflow: hidden;
        .left { width: 200px; display: inline-block; }
    }
}

footer { position: absolute; left: 0; bottom: 0; right: 0; height: 140px; padding-top: 50px;
    .copy { margin-top: 10px; padding-top: 10px }
    .socials { text-align: right; float: right; padding-top: 10px;
        .platform { display: inline-block; margin: 0 2px;
            a { display: inline-block; width: 142px; border-radius: 6px; border: 1px solid $white; overflow: hidden;
                img { width: 142px; display: inline-block; }
            }
        }
    }
}



@media (max-width: 767px) {
    body { padding-bottom: 260px; }
    header {
        &.active {
            #menu { left: 22%; padding: 20px 22% 20px 0; transition: left 0.2s; }
        }
    }
    .header {
        .logo {
            img { width: 210px; }
            .small { margin: -12px 0 0 51px; width: 159px; }
        }
        #nav-trigger { padding: 1px 3px; }
        #menu { text-align: initial; background: $blue; width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; left: 100%; z-index: 5; transition: left 0.2s;
            .btn { margin: 0 auto 15px; max-width: 220px; }
            .nav { 
                li { float: none;
                    a { width: 220px; margin: auto;
                        i { color: $white; } 
                    }
                }
            }
        }
    
    }
    footer { height: 260px; padding-top: 30px;
        .copy { overflow: hidden; }
        .socials { text-align: center; float: none; overflow: hidden;
            .platform { margin: 0 4px;
                a { width: 64px;
                    img { width: 200px; }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {}

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 1200px) {}